:root {
  --white: #FFFFFF;
  --text-color: #fff;
  --bg-color: #2A2B2F;
  --bg-component: #292B31;
  --sidebar-bg: #222327;
  --navbar-bg: #1C1D22;
  --gray: rgba(255, 255, 255, 0.5);
  --progress: rgba(255, 160, 72, 1);
  --error: #FF7979;
  --success: #78D700;
  --blue: #4B69FF;
  --toggle: rgba(255, 255, 255, 0.04);
  --toggle-color: rgba(255, 255, 255, 0.06);
  color: var(--text-color);
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --sidebar-bg: #ffffff;
  --bg-component: rgb(169, 166, 166);
  --toggle: rgba(28, 29, 34, 0.09);
  --toggle-color: rgba(28, 29, 34, 0.09);;
  --text-color: black;
}

@font-face {
  font-family: Exo;
  src: url(./assets/font/Exo_2/Exo2-VariableFont_wght.ttf);
  src: url(./assets/font/Exo_2/static/Exo2-Regular.ttf);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.2s ease;
  font-family: Exo, sans-serif;
}

body {
  background-color: var(--bg-color);
  min-width: 320px;
  max-width: 100%;
  max-height: 100vh;
}

button {
  background-color: transparent;
  border: none;
}